/*sport-now-sportselect.css*/
body {
    background: url(images/basketball-court.jpg) no-repeat center center fixed; 
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #FFF8DC;
}

html,body { height:100%; }

.container {
    height:100%;
    /*margin-left: 14em;*/
    
}

#header-color {
    background-color: #990000;
    opacity: .9;
    filter: alpha(opacity=90); /*for IE8 and earlier*/
    color: #fff;
}

th {
    text-align: center;
    background-color: pink;
}

ul {
    list-style-type: none;
}

tr:nth-child(even) {background-color: #f2f2f2}

tr:hover{background-color:#f5f5f5}

.sport-now-main {
    padding-top: 2em;
    background-color: #FFF;
    opacity: 0.9;
    text-align: center;
    border-radius: 8px;
}

.sport-now-main button {
    display: inline;
    height: 3em;
    width: 6em;
    margin-bottom: 2em;
}

.sport-now-main ul {
    margin-top: 4em;
}

.sport-now-main li {
    width: 33%;
}

.sport-container {
    height: 20em;
    margin-bottom: 2em;
}

.sport-icon {
  display: inline;
  height: 12em;
  width: 12em;
  margin-bottom: 1em;
}

.sidebar {
    background-color: #222;
    opacity: 0.9;
    text-align: center;
    border-radius: 8px;
    padding-top: 4em;
    width: 14em;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.sidebar img {
    display: inline;
    width: 80%;
    height: auto;
}

.sidebar button {
    margin-top: 5em;
    margin-bottom: 2em;
}

/*sidebar sub-class*/
ul.vert-one{
    margin:0;
    padding:0;
    list-style-type:none;
    display:block;
    font:bold 16px Helvetica, Verdana, Arial, sans-serif;
    line-height: 2em;
}

ul.vert-one li{
    margin:0;
    padding:0;
    border-top:1px solid #4D0000;
    border-bottom:1px solid #761A1A;
}

ul.vert-one li a{
    display:block;
    text-decoration:none;
    color:#fff;
    background:#600;
    padding: 10px 2px 10px 2px;
    width: 100%;
    transition: 0.3s;
}

ul.vert-one li a:hover{
    background:#900 url("images/vert-one_arrow.gif") no-repeat 0 20px;
    
}

ul.vert-one li a.current,ul.vert-one li a.current:hover{
    background:#933 url("images/vert-one_arrow.gif") no-repeat 0 20px;
}
/*end of sidebar sub-class*/

/*Search menu*/
.search-menu {
    background-color: #333;
    opacity: 0.9;
    border-radius: 8px;
    padding-top: 4em;
    width: 0;
    height: 80%;
    position: fixed;
    z-index: 1;
    margin-top: 10em;
    margin-left: 14em;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
}

.search-menu a {
    text-decoration: none;
    color: #fff;
}

.search-menu input[type="text"] {
  display: block;
  margin-top: 1em;
  width: 100%;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 18px;
  box-shadow: none;
  border-radius: none;
}
    

ul.search-list {
    margin-top: 14em;
    padding:0;
    list-style-type:none;
    display:block;
    font:bold 14px Helvetica, Verdana, Arial, sans-serif;
    line-height: 2em;
}

ul.search-list li {
    margin-top: 1em;
    margin-left: 3em;
    padding:0;
}

ul.search-list li a{
    display: block;
    text-decoration:none;
    color:#fff;
    background:#600;
    padding: 10px 2px 10px 2px;
    width: 80%;
    transition: 0.3s;
}

ul.search-list li a:hover{
    background:#900;
    
}

.closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px !important;
}

/*end of Search menu*/


.center-content {
    padding-top: 2em;
    background-color: #fff;
    opacity: 0.9;
    text-align: center;
    border-radius: 8px;
}


/*View Event*/
ul.event-list {
    margin-top: 2em;
    list-style-type:none;
    font:bold 14px Helvetica, Verdana, Arial, sans-serif;
}

ul.event-list li {
    width: 45%;
    height: auto;
}
/*End of View Event*/

.location-placeholder {
    margin-top: 2em;
    margin-bottom: 2em
}


.user-profile li {
    width: 45%;
    height: auto;
}


#user-edit-button {
    float:right;
    left: -2em;
}

.center-content .user-rating,
                .user-placeholder,
                .user-info,
                .user-sport-info {

    margin-top: 2em;
    margin-left: 1em;
    margin-right: 2em;
}

.center-content .user-rating {
    height:20em;
}


.user-placeholder .user-image {
    width: 80%;
}

/*Search Results*/
ul.search-results-list {
    margin-top: 2em;
    list-style-type:none;
    font:bold 14px Helvetica, Verdana, Arial, sans-serif;
}

ul.search-results-list li {
    width: 33%;
    height: auto;
}

/*End of Search Results*/