/*sport-now-sportselect.css*/
body {
    background: url(images/basketball-court.jpg) no-repeat center center fixed; 
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #FFF8DC;
}


html,body { height:100%; }

.container { height:100%;}

.row {height:100%;}

#container-height {
    height: 80%;
    margin: 0
}

#header-color {
    background-color: #990000;
    opacity: .9;
    filter: alpha(opacity=90); /*for IE8 and earlier*/
    color: #fff;
}


.sport-now-main {
    padding-top: 1em;
    background-color: #FFF;
    opacity: 0.9;
    height: 100%;
    text-align: center;
    border-radius: 8px;
}

.sport-now-main button {
    display: inline;
    position: relative;
    top:10em;
    height: 3em;
    width: 6em;
}

.sport-now-main ul {
    list-style-type: none;
    position: relative;
    left:-2em;
}

.sport-icon {
  display: block;
  position: relative;
  left:4em;
  height: 200px;
  width: 200px;
}

